@model CHAIN.DAL.hr_srv_history
@{
    ViewBag.Title = "historynew";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Html.ValidationSummary()
<div class="tb_top top_bar w600px" style="width:300px;text-align:center;">
    @Html.HiddenFor(model => model.id)
     @Html.HiddenFor(model => model.employeeid)
       @Html.HiddenFor(model => model.chuxing)
       @Html.HiddenFor(model => model.chuxing1)
       @Html.HiddenFor(model => model.employeename)
    @*<div class="input_text w45 edit_suspension">
        @Html.LabelFor(model => model.employeename)
        @Html.DropDownListFor(model => model.employeename, ViewBag.dplemployeename as SelectList)
        @* @Html.ValidationMessageFor(model => model.employeename)
    </div>*@
    <div class="input_text w45 edit_suspension" >
        @Html.LabelFor(model => model.memo)
        @Html.EditorFor(model => model.memo)
        @* @Html.ValidationMessageFor(model => model.memo)*@
    </div>
   @* <div style="clear:both;"></div>*@
    <div class="input_text w45 edit_suspension" style="clear:left;width:200px;">
        @Html.LabelFor(model => model.chuxing_date)
        @(Html.Telerik().DatePickerFor(model => model.chuxing_date))
        @* @Html.ValidationMessageFor(model => model.memo)*@
    </div>
    <div class="input_text w45 edit_suspension" style="clear:left;width:200px;">
        @Html.LabelFor(model => model.fanhui_date)
        @(Html.Telerik().DatePickerFor(model => model.fanhui_date))
        @* @Html.ValidationMessageFor(model => model.memo)*@
    </div>
</div>
